@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/MuseoSans_500.otf') format("opentype");
}
@font-face {
    font-family: 'museo-heavy';
    src: url('../fonts/MuseoSans-900.otf') format("opentype");
}
@font-face {
    font-family: 'museo-light';
    src: url('../fonts/MuseoSans-100.otf') format("opentype");
}
@font-face {
    font-family: 'museo-sans-italic';
    src: url('../fonts/MuseoSans_500_Italic.otf') format("opentype");
}
@font-face {
    font-family: 'frutiger';
    src: url('../fonts/Frutiger.ttf')
}

body {
    font-family: 'museo-sans'!important;
    width: 100%;
    overflow-x: hidden
}

hr {
    margin-top: 3.5px;
    margin-bottom: 3.5px
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
   
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
    border-radius: 8px;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}

.logo {
    width: 150px
}

.nav-text {
    font-size: 0.8em;
}
.nav-text:hover {
    color: #409d27;
}

.carousel-item {
    height: 68vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-caption {
    bottom: 35% !important;
    text-align: left !important;
}

.hero-header {
    font-family: 'museo-heavy' !important;
    font-size: 3.5em;
    font-weight: 900;
    /* line-height: 0.9em */
}

.up-button {
    position: fixed;
    bottom: 25px;
    right: 10px;
    width: 200px;
    z-index: 999;
}
.dl-button {
    position: fixed;
    bottom: 25px;
    left: 10px;
    width: 200px;
    z-index: 999;
}
.floating-button {
    width: 75px;
    height: 75px;
    margin-left: 20px;
    position: relative;
}

.messenger-button {
    position: absolute;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #409d27 !important
}

.navbar-light .navbar-nav .nav-link {
    color: #140f33 !important
}
.nav-link:hover {
    color: #409d27 !important;
}
.green {
    color: #409d27
}
.navy {
    color: #140f33;
}
.download-text {
    font-family: 'museo-light';
    font-weight: 100;
    padding-bottom: 10px;
}
.dl-icon {
    width: 30px;
    transition-duration: 0.4s
}
.dl-icon:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.btn-gradient-green {
    background: linear-gradient(90deg, rgba(40,81,46,1) 0%, rgba(64,157,39,1) 100%);
    border-radius: 30px;
    color: white;
}
.hero {
    background: url('../img/ZAMARA-SLIDER-IMAGE_001_1366x768px.png');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    /* background-position: center center;  */
}
.bg-navy {
    background: #140f33

}
.bg-light-grey {
    background: #f2f2f2;
}
.bg-green {
    background: #409d27;
}
.bg-grey {
    background: #dcdbe0;
}
.car-insurance {
    margin-top: -60px;
    font-size: 0.7em;
}
.glance-img {
    height: 260px;
}
.service-card {
    transition-duration: 0.4s;
    /* filter: grayscale(60%) */
}
.service-card:hover {
    border-bottom: #409d27 solid 3px;
    transform: scale(1.06);
    transition-duration: 0.6s;
    /* filter: grayscale(0%) */
}
/* tabs styling */



.project-tab {
    /* padding: 10%;
    margin-top: -8%; */
}
.project-tab #tabs{
    background: #140f33;
    color: #140f33;
}
.project-tab #tabs h6.section-title{
    color: #140f33;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #409d27;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #140f33;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.nav-tabs {
    border: 0;
}
.border-round {
    border-radius: 30px;
}
.form-control {
    font-size: 0.7em !important;
    line-height: 2em
}
.testimonial-text {
    line-height: 1.3em;
    font-size: 1em;
    margin-bottom: 0
}
.testimonial-desc {
    line-height: 1em;
    font-size: 0.8em;
    margin-bottom: 0
}
.my-card {
    width: 28em;
}
.border-round-1 {
    border-radius: 15px;
}

.menu-large {
    position: static !important;
  }
  
  .megamenu {
    padding: 20px 20px;
    width: 50%;
    left: 30%
  }
  
  .megamenu > div > li > ul {
    padding: 0;
    margin: 0;
  }
  
  .megamenu > div > li > ul > li {
    list-style: none;
  }
  
  .megamenu .card {
      outline: none;
  }

  .lead {
      font-family: 'museo-heavy';
      font-size: 1.1em
  }

  .service-tab {
      font-family: 'museo-light';
      color: #fff;
  }
  .service-tab:hover {
      color: #409d27;
      border-bottom: #409d27 solid 3px;
      transition-duration: 0.2s; 
      -webkit-transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;

  }
  .service-tab-text {
      line-height: 2em;
      /* padding: 20px; */
      
  }
  .service-tab-text:hover {
      
      transition: 700;
  }
  
  .megamenu .card:hover,
  .megamenu .card:focus {
      outline: 1px solid #000;
  }
  
  .megamenu > div > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
  }
  
  .megamenu > div > li > ul > li > a:hover,
  .megamenu > div > li > ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  
  .megamenu.disabled > a,
  .megamenu.disabled > a:hover,
  .megamenu.disabled > a:focus {
    color: #999999;
  }
  
  .megamenu.disabled > a:hover,
  .megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
  }
  
  .megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
  }
  .social-icon {
      width: 30px;
      height: auto;
  }

  .footer-link {
      font-size: 0.8em;
      font-family: 'museo-light'
  }

  .footer-address-link {
    font-size: 0.7em;
    font-family: 'museo-light';
    line-height: 0.9em
  }

  .small-text {
      font-size: 0.7em;
      /* line-height: 0.6em */
  }
  .nav-header {
    font-size: 0.9em;
  }

  .no-padding {
      /* padding: 0;
      margin: 0 */
  }
  .dotted {
      border-bottom: dotted 1px;
  }
  .tools-menu {
      width: 250px !important;
      left: 50%;
      font-family: 'museo-light';
      font-weight: 300

  }

  .font-light {
    font-family: 'museo-light';
    font-weight: 100
  }





  /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .logo {
        width: 100px
    }
    .logo-lg {
        width: 150px
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .logo {
        width: 150px
    }
    .logo-lg {
        width: 170px
    }
    .carousel-caption {
        left: 110px
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        /* padding-left: 110px !important;
        padding-right: 110px !important; */
    }
    .padding-lg {
         padding-left: 110px !important;
        padding-right: 110px !important;
    }
    .margin-lg {
        margin-left: 120px !important;
        margin-right: 120px !important;
    }
    .logo {
        width: 180px
    }
    .logo-lg {
        width: 170px
    }
    .carousel-caption {
        left: 110px
    }
 }